.clearfix{overflow:auto;_height:1%}
.fl{float: left;}
.fr{float: right;}
p{margin: 0;padding:0;}
ul{padding: 0;}
label{margin: 0;}
html{
    scrollbar-base-color: #fff;
    scrollbar-base-color: #fff;
    scrollbar-3dlight-color: #fff;
    scrollbar-highlight-color: #fff;
    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #fff;
    scrollbar-shadow-color: #fff;
    scrollbar-dark-shadow-color: #fff;
}
html::-webkit-scrollbar {width: 0px;}
html,body{height: 100%;font-size: 16px;background-color: #f7f7f9;}
.green{background: #0a6ebd;}
.blue{background: #6b6bed;}
.lightgreen{background: #589ab1;}
.clr-red{color: #f62727;}
.ql-container{background:#fff;}
.ql-toolbar{background:#ddd;}
.cl-red{color:red;font-weight:400;}
.bg{background: #0000009e;position: fixed;top:0;left: 0;right: 0;bottom: 0;z-index: 2;color: #f4d290;text-align: center;padding-top: 15%;font-size: 20px;font-weight: bold;cursor: default;}
.bg-ddd{background: #ddd;}
.pd-10{padding:10px;}
.pdt-10{padding-top: 10px;}
.pdb-10{padding-bottom: 10px;}
.mg-0{margin: 0;}
.btn{margin-left: 5px;}
.ivu-row{
    margin: rem1(10) 0;
}