
@function rem1 ($px) {
    @return $px / 25+rem;
}
@function rem ($px) {
    @return $px / 12.5 +rem;
}
@mixin wh($len) {
    width: rem($len);
    height: rem($len);
}

@mixin wh1($w,$h) {
    width: rem($w);
    height: rem($h);
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin fac {
    display: flex;
    align-items: center;
}
@mixin fsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin bd($color, $width: 1px) {
    border: $width solid $color;
}

@mixin bgz ($size1, $size2) {
    -webkit-background-size: rem($size1) rem($size2);
    -moz-background-size: rem($size1) rem($size2);
    -ms-background-size: rem($size1) rem($size2);
    -o-background-size: rem($size1) rem($size2);
    background-size: rem($size1) rem($size2);
}

@mixin lh ($height) {
    height: rem($height);
    line-height: rem($height);
}

@mixin lhc ($height) {
    height: rem($height);
    line-height: rem($height);
    text-align: center;
}

@mixin lhcf($height, $color, $fz) {
    height: rem($height);
    line-height: rem($height);
    color: $color;
    font-size: rem($fz);
}

@mixin lhcfc($height, $color, $fz) {
    height: rem($height);
    line-height: rem($height);
    color: $color;
    font-size: rem($fz);
    text-align: center;
}

@mixin cs($color, $size) {
    color: $color;
    font-size: rem($size);
}

@mixin em ($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: rem($line);
    -webkit-box-orient: vertical;
}

@mixin op ($opacity) {
    opacity: $opacity * 0.01;
    filter: alpha(opacity=$opacity);
}

@mixin bra ($radius: 50%) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin bs1 ($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin bs2 ($s1, $s2) {
    -webkit-box-shadow: $s1, $s2;
    -moz-box-shadow: $s1, $s2;
    -ms-box-shadow: $s1, $s2;
    -o-box-shadow: $s1, $s2;
    box-shadow: $s1, $s2;
}

@mixin ove () {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

@keyframes roller {
    0%{
        transform:rotateZ(0)
    }
    100%{
        transform:rotateZ(360deg)
    }
}
